@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 1080px) {

    .sign-up, .sign-in {
        padding: 150px 250px 0 150px;
    }

    .home {
        padding: 0 250px 0 150px;
    }
}

@media (max-width: 1079px) {

    .sign-up, .sign-in, .home {
        padding: 50px 0 0 0;
    }
}
